.container {
  max-width: 1600px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}


#Img1 {
  max-width: 300px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn__left, .btn__right {
  margin-top: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
  background-color: black;
  color: white;
}


/*#Img1_holder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn__left {
  background-color: black;
  color: white;
}

#Img2_holder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#Img2 {
  max-width: 300px;
}

.btn__right {
  background-color: black;
  color: white;
}
